*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    display: flex;
    color: #2E2E2E;
    background: white;
}
button, input{
    border-style: none;
    outline-style: none;
}
.main-content{
    margin-left: 300px;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: calc(100% - 300px);
}

/* filter-section ********************/
.filter-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 65px;
}
.filter-section div{
    display: flex;
    align-items: center;
}
.filter-section .filter-input{
    padding: 12px 30px;
    font-size: 14px;
    color: #002C4B;
    width: 380px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    transition: .4s ease;
}
.filter-section .right{
    background: #EDEDED;
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.filter-section .right p{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #515151;
}
.filter-section .right input{
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 10px 20px;
    color: gray;
}
.search-button{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    transition: .4s ease;
    background: #195FA0;
    color: white;
}
.search-button:hover{
    background: #c4d9ee;
    transition: .4s ease;
}
.section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #002C4B;
}
.current-attendance-container{
    display: flex;
    flex-direction: column;
}
.current-attendance-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 75px;
    width: 100%;
    padding: 0 20px;
}
.current-attendance-item .left h4{
    font-weight: 700;
    font-size: 16px;
    color: #2E2E2E;
}
.current-attendance-item .left p{
    font-weight: 400;
    font-size: 12px;
    color: #2E2E2E;
}
.attendance-button, .timed-button{
    width: 138px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.attendance-button{
    background: #195FA0;
    color: white;
}
.timed-button{
    background: #6f6f6f;
    color: white;
}
.attendance-button ion-icon, .timed-button ion-icon{
    font-size: 20px;
}
.current-attendance-item .right{
    display: flex;
    gap: 15px;
}