*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    outline-style: none;
}
body{
    display: flex;
    color: #2E2E2E;
    overflow-x: hidden;
    background: white;
}

.main-content{
   padding: 60px 50px 30px 80px;
   width: 100%;
   margin-left: 300px;
   display: flex;
   flex-direction: column;
}
.title{
    font-weight: 700;
    font-size: 45px;
    color: #002C4B;
}
.organization{
    font-weight: 700;
    font-size: 16px;
    color: #696767;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px 0;
}
.contact-item{
    display: flex;
    gap: 20px;
}
.contact-item ion-icon{
    font-size: 25px;
    color: #696767;
}
.contact-item p{
    font-weight: 600;
    font-size: 15px;
    color: #696767;
}
@media (max-width: 1000px) {
    .main-content{
        margin-left: 0;
    }
}
@media (max-width: 700px) {
    .main-content{
        padding: 50px 30px;
    }
    .title{
        font-size: 35px;
    }
    .contacts-container{
        padding: 20px 0;
        gap: 10px;
    }
    .organization{
        font-size: 12px;
    }
    .contact-item ion-icon{
        width: 18px;
        height: 18px;
        min-width: 18px;
    }
    .contact-item p{
        font-size: 12px;
    }
}