*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  display: flex;
  justify-content: center;
  color: #2E2E2E;
  background: white;
}
button{
  border-style: none;
}
.dashboard-content{
  margin-left: 300px;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: calc(100vw - 300px);
}
.system-stat{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 35px;
  max-width: 950px;
}
.system-stat .left{
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  flex: 2;
}
.system-stat .right{
  max-width: 620px;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 35px;
}
.system-stat .upper-left{
  display: flex;
  gap: 35px;
  flex-flow: row wrap;
  max-width: 100vw;

}
.system-stat .lower-left{

}
/* ***************************************resident */
.first-division{
  width: 260px;
  height: 260px;
  background: #E9F2F9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.first-division .bottom{
  display: flex;
  gap: 10px;
}
.section-title{
  font-weight: 700;
  font-size: 12px;
  color: #002C4B;
}
.data-text{
  font-weight: 700;
  font-size: 12px;
  color: #7C7C7C;
}
.residents-section-image{
  width: 210px;
  height: 145px;
}
.residents-view-button button{
  padding: 9px 20px;
  background: #195FA0;
  box-shadow: 0px 4px 30px 10px rgba(188, 153, 28, 0.25);
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  color: #FBFDFF;
}
/* *******************Transactions panel */
.transactions-container{
  width: 300px;
  height: 130px;
  background: #F9E6E6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.transactions-top{
  display: flex;
  gap: 30px;
}
.transactions-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.transactions-image img{
  width: 80px;
  height: 55px;
}
.transactions-bottom{
  width: 240px;
  display: flex;
  justify-content: flex-end;
}
.transactions-bottom button{
  padding: 9px 20px;
  background: #B85555;
  box-shadow: 0px 4px 30px 10px rgba(188, 153, 28, 0.25);
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  color: #FBFDFF;
}
.second-division{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.second-division .bottom{
  display: flex;
  gap: 20px;
}
.personnels-container{
  width: 140px;
  height: 100px;
  background: #E9F1F6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personnels-container div, .puroks-container div{
  width: 100px;
  height: 75px;
}
.personnels-container ion-icon{
  color: #195FA0;
}
.puroks-container{
  width: 140px;
  height: 100px;
  background: #411B80;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.puroks-container *{
  color: white;
}
.third-division{
  width: 280px;
  height: 260px;
  background: #EAEAEA;
  border-radius: 10px;
  overflow: hidden;
}
.middle-part-dashboard{
  display: flex;
  gap: 30px;
}
.revenues-section{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.graph-container{
  width: 600px;
  height: 220px;
  background: #EAEAEA;
  border-radius: 20px;
}
canvas{
  width: 600px !important;
  height: 210px !important;
}
.events-section *{
  color: white;
}
.events-section{
  width: 280px;
  height: 260px;
  background: linear-gradient(270deg, #812FEA 0%, #CC4EF8 100%);
  border-radius: 20px;
  display: flex;
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.events-section h3{
  width: 230px;
}
.events-section > div{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.event{
  width: 230px;
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-weight: 700;
  font-size: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0 20px;

}
.officials-items-container{
  padding: 20px;
  background: #EAEAEA;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.officials-item-record{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 90px;
  border: 1px solid #EAE9E9;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 0 20px;
  align-items: center;
  transition: .3s ease;
}
.officials-item-record:hover{
  background: rgb(240, 240, 240);
}
.officials-info-container{
  display: flex;
  height: 100%;
  gap: 22px;
}
.officials-image-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.officials-image{
  border-radius: 100%;
  width: 60px;
  background: rgb(218, 218, 218);
  height: 60px;
}
.officials-fullname{
  font-weight: 700;
  font-size: 14px;
  color: #2E2E2E;
}
.officials-age, .officials-purok{
  font-weight: 400;
  font-size: 10px;
  color: #2E2E2E
}
.officials-info{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.action-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-text p{
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #2E2E2E;
}
.barangay-officials-section{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/* Resident's Dashboard ************************************************/

.features{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 20px 0;
}
.feature-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
  padding: 0 60px 0 40px;
}
.feature-container .right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
.feature-container .right h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #002C4B;
}
.feature-container .right p{
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #7C7C7C;
  max-width: 590px;
}
.feature-container .right a{
  cursor: pointer;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  background: #195FA0;
  box-shadow: 0px 4px 15px 5px rgba(188, 153, 28, 0.25);
}
.light-gray{
  background: #F0F9E9;
}
.light-blue{
  background: #E9F2F9;
}
.light-red{
  background: #F7E4E1;
}
@media (max-width: 1000px){
  .dashboard-content{
    margin-left: 0;
    padding: 0 20px 0 20px;
    max-width: 100%;
  }
}
@media (max-width: 700px){
  .tab-title{
    font-size: 15px !important;
  }
  .dashboard-content{
    gap: 15px;
    margin-bottom: 30px;
  }
  canvas{
    width: 90vw !important;
    height: 150px !important;
  }
  .graph-container{
    width: 90vw;
    border-radius: 4px;
    height: 160px;
  }
  .system-stat, .system-stat .left, .system-stat .right{
    gap: 15px;
  }
  .system-stat .upper-left{
    gap: 10px;
  }
  .revenues-section{
    gap: 15px;
  }
  /* ***************Residents panel */
  .first-division .top{
    display: none;
  }
  .first-division{
    padding: 0 20px;
    height: 70px;
    width: 90vw;
    border-radius: 4px;
  }
  .residents-view-button button{
    border-radius: 4px;
  }
  .first-division .bottom{
    justify-content: space-between;
    width: 100%;
  }
  /* ************** Pending Transactions panel */
  .transactions-container{
    padding: 0 20px;
    height: 100px;
    border-radius: 4px;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .transactions-image{
    display: none;
  }
  .transactions-bottom button{
    border-radius: 4px;
  }
  .personnels-container, .puroks-container{
    flex: 1;
    border-radius: 4px;
    height: 80px;
    padding: 10px 0;
  }
  .personnels-container div, .puroks-container div{
    height: auto;
  }
  .second-division{
    gap: 10px;
  }
  /* *************** pie chart */
  .third-division{
    width: 90vw;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* **************** Events panel */
  .events-section{
    width: 90vw;
    border-radius: 4px;
    padding: 25px;
  }
  .events-section .section-title, .events-section div{
    width: 100%;
  }
  /* *********** officials list */
  .barangay-officials-section{
    gap: 15px;
  }
  .barangay-officials-section *{
    text-align: left;
  }
  .officials-items-container{
    padding: 8px 4px;
    border-radius: 4px;
  }
  .officials-image{
    width: 45px;
    height: 45px;
  }
  .officials-item-record{
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
  }
  .action-text{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0 10px;
    border-radius: 4px;
  }
  .action-text p{
    font-weight: 600;
    color: rgb(84, 84, 84);
  }
  .feature-container{
    height: auto;
    padding: 20px 30px;
    border-radius: 4px;
  }
  .feature-container .right a{
    border-radius: 4px;
  }
  .feature-container .right h3{
    font-size: 15px;
  }
  .feature-container .right p{
    font-size: 10px;
  }
  .feature-container .left{
    display: none;
  }
  .feature-container .right{
   align-items: flex-start;
  }
  .feature-container .right p{
    text-align: left;
  }
}
