*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    outline-style: none;
}
body{
    display: flex;
    overflow-x: hidden;
    background: white;
}
.employee-section-content{
   padding: 0 50px 0 40px;
   width: 100%;
   margin-left: 300px;
}
.action-controls-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
 }
 .search-button-container{
     display: flex;
     gap: 10px
 }
.employee-items-container{
    display: flex;
    flex-direction: column;
}

.employee-item-record{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border: 1px solid #EAE9E9;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0 20px;
    align-items: center;
    transition: .3s ease;
}
.employee-item-record:hover{
    background: rgb(240, 240, 240);
}
.employee-info-container{
    display: flex;
    height: 100%;
    gap: 22px;
}
.employee-image-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.employee-image{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.employee-fullname{
    font-weight: 700;
    font-size: 14px;
    color: #2E2E2E;
}
.employee-position, .employee-status{
    font-weight: 400;
    font-size: 10px;
    color: #2E2E2E
}
.employee-info{
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    height: 100%;
}
.action-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #2E2E2E;
}
/* ***********************************modal */
#upload-icon{
    display: none;
}
@keyframes fade{
    0%{
        opacity: 1;
        display: block;
    }
    80%{
        opacity: 1;
        display: block
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.endterm{
    background: white !important;
}
.endterm *{
    color: rgb(63, 63, 63) !important
}

/* Tablet */
@media (max-width: 1000px){
    .employee-section-content{
        margin-left: 0;
        padding: 0 20px 0 20px;
    }
}

/* Mobile */
@media (max-width: 700px){
    .employee-section-content{
        padding: 0 20px 0 20px;
    }
    .action-text{
        display: none;
    }
    .action-controls-container {
        flex-direction: column;
        gap: 10px;
        margin: 15px 0;
    }

    /*Add Modal */
    .modal-content-container {
        width: 95%;
        border-radius: 4px;
        padding: 30px;
        position: relative;
        bottom: 30px;
    }
    .signiture-image-name {
        margin-top: 10px;
    }
    .signiture-button {
        margin: auto;
    }
    .term-container {
        flex-direction: column;
    }
    .button-container {
        width: 100%;
    }
    .modal-title {
        width: 100%;
    }
    .modal-title h3{
        font-size: 20px;
    }
    p.modal-title-container, input.input {
        width: 100%;
    }
    p.modal-title-container{
        color: rgb(88, 88, 88);
        font-size: 12.5px;
        font-weight: 600;
    }
    .input{
        border-radius: 4px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
        color: rgb(86, 86, 86);
    }
    .term-container {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .searchbar-employees{
        border-radius: 4px;
        flex: 1;
        height: 40px;
        width: auto;
        min-width: 0;
        box-shadow: none;
        background: #ececec;
    }
    .search-button-employees{
        border-radius: 4px;
        height: 40px;
    }
    .modal-title p {
        font-weight: 500;
    }
    #upload{
        display: none;
    }
    #upload-icon{
        display: flex;
        width: auto;
        padding: 0 20px;
    }
}

