*{  
    
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    box-sizing: border-box;
}
.sidebar *{
    color: white;
}
.sidebar{
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #195FA0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s ease;
    z-index: 9;
}
.profile{
    display: flex;
    background: #16538B;
    height: 90px;
    width: 100%;
    align-items: center;
    padding: 0 30px;
    gap: 20px;
}
.profile-picture img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.username, .usertype, .sidebar-item-text{
    font-weight: 700;
    color: #FFFFFF;
}
.username{
    font-size: 15px;
}
.usertype{
    font-size: 14px;
    font-weight: 600;
}
.sidebar-item a{
    display: inline-block;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    gap: 20px;
}
.sidebar-item a ion-icon{
    font-size: 20px;
}
.sidebar-item a:hover{
    background: #2B6CA8;
    transition: 0.3s ease;
}
.sidebar-item-text{
    font-size: 15px;
}
.highlight{
    background: #548DC2 !important;
}
.navigation-container{
    position: relative;
    z-index: 2;
}
.sidebar-circle{
    width: 315px;
    height: 235px;
    background: #1466B1;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: -130px
}
.logout{
    background: #16538B;
}
.ham-menu{
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 10px;
    color: white;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #195FA0;
    transition: 0.65s ease;
}
@media (max-width: 1000px){
    .sidebar{
        width: 250px;
    }
    .profile, .sidebar-item a{
        padding: 0 20px;
    }
    .sidebar{
        left: -300px;
   }
   .ham-menu{
        display: flex;
   }
}


