*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    outline-style: none;
}
body{
    display: flex;
    color: #2E2E2E;
    overflow-x: hidden;
    background: white;
}
.residents-section-content{
   padding: 0 50px 0 40px;
   width: 100%;
   margin-left: 300px;
}
.action-controls-container{
   display: flex;
   justify-content: space-between;
   margin: 30px 0 30px 0;
}
.searchbar-residents{
    padding: 12px 30px;
    font-size: 14px;
    color: #002C4B;
    max-width: 380px;
    width: calc(50vw - 300px);
    min-width: 280px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    transition: .4s ease;
}
.searchbar-residents:hover, .searchbar-residents:focus{
    background: rgb(245, 245, 245)
}
::placeholder{
    color: #767677;
}
.search-button-container{
    display: flex;
    gap: 10px
}
.search-button-residents{
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    transition: .4s ease;
    
}
.search-button-residents:hover{
    background: #c4d9ee;
    transition: .4s ease;
}
.resident-items-container{
    display: flex;
    flex-direction: column;
}
.resident-item-record{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border: 1px solid #EAE9E9;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0 20px;
    align-items: center;
    transition: .3s ease;
}
.resident-item-record:hover{
    background: rgb(240, 240, 240);
}
.resident-info-container{
    display: flex;
    height: 100%;
    gap: 22px;
}
.resident-image-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resident-image{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.resident-fullname{
    font-weight: 700;
    font-size: 14px;
    color: #2E2E2E;
}
.resident-age, .resident-purok{
    font-weight: 400;
    font-size: 10px;
    color: #2E2E2E
}
.resident-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.action-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #2E2E2E;
}

/******************************** modal */

.modal-background-blur{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.52);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: spawn .4s ease forwards;
    transform: scale(.98);
}
.scroll{
    width: 700px;
    padding: 20px 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x:  hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.modal-content-container{
    max-width: 700px;
    width: 100%;
    padding: 20px 0 50px 0;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}
.modal-header-container{
    width: 70%;
    padding: 20px 0;
    display: flex;
    gap: 35px
}
.modal-Image-upload-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-resident-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 10px;
    background: #195FA0;
    border-radius: 5px;
}
.add-resident-button p, .add-resident-button ion-icon {
    font-weight: 700;
    font-size: 12px;
    color: white
}
.add-resident-button ion-icon{
    font-size: 24px !important;
}
.resident-image-preview{
    width: 90px;
    height: 90px;
    background: #D9D9D9;
    border-radius: 100%;
}
.resident-upload-input{
    position: absolute;
    right: -20px;
    bottom: 15px;
    opacity: 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.resident-upload-button ion-icon{
    font-size: 44px;
    color: #726868;
    position: absolute;
    right: -20px;
    bottom: 15px;
    background: white;
    border-radius: 100%;
}
.modal-instructions-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.modal-title{
    font-weight: 700;
    font-size: 24px;
    color: #002C4B;
}
.modal-instructions{
    font-weight: 700;
    font-size: 12px;
    color: #696767;
}

.resident-info-inputs{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     flex-direction: column;
}
.resident-input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.resident-input option:not(:checked) {
    color: #A0AAB1;
}
.submit-button-container{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.label{
    font-style: normal;
    font-weight: 700;
    font-size: 12.3104px;
    color: #195FA0;
    width: 70%;
}
.modal-close-button{
    position: absolute;
    right: 30px;
    top: 30px;
    background: white;
}
.modal-close-button ion-icon{
    font-size: 25px;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li a{
    display: inline-block;
    flex-shrink: 0;
    width: 180px;
    height: 37px;
    line-height: 37px;
    font-weight: 700;
    font-size: 14px;
    color: #002C4B;
    padding: 0 10px;
}
.underline{
    border-bottom: 3px solid #195FA0;
}

.add-button-container{
    position: fixed;
    right: 50px;
    bottom: 50px;
    animation: 3s floating infinite;
}
.add-button-container .circle{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #195FA0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}
.add-button-container .circle:hover, .add-buttons button:hover{
    background: #144e85;
}
.circle ion-icon{
    font-size: 24px;
}
.add-buttons{
    display: none;
    flex-direction: column;
    position: absolute;
    top : -160px;
    right: 0px;
    gap: 10px
}
.add-buttons button{
    width: 100%;
    white-space: nowrap;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    background: #195FA0 ;
    box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}
.multiple-choice-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.choices{
    display: flex;
    gap: 40px;
}
#labelMembers, #familyMembers{
    display: none;
}
.text-small{
    font-size: 12px;
    font-weight: 500;
    color: #595555;
}
#familyMembersContainer{
    width: 100%;
}

/* csv modal */

.input-container p{
    font-weight: 700;
    font-size: 15px;
    color: #002C4B;
}
::placeholder{
    color: #A0AAB1;
}
.input-container{
    display: flex
}
.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 6%);
    border-radius: 5px;
    width: 120px;
    height: 43px;
}
/****************** error container */
.error-container, .notif-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    height: 80px;
    z-index: 10;
}
.error{
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    background: rgba(255, 0, 0, 0.685);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    animation: fade forwards 3s;
}
.notif{
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    background: rgba(7, 109, 212, 0.685);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    animation: fade forwards 3s;
}
@keyframes fade{
    0%{
        opacity: 1;
        display: block;
    }
    80%{
        opacity: 1;
        display: block
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes spawn{
    from{opacity: 0; transform: scale(.98);}
    to{opacity: 1; transform: scale(1);}
}
@keyframes floating {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
@media (max-width: 1000px){
    .residents-section-content{
        margin-left: 0;
        padding: 0 20px 0 20px;
    }
}
@media (max-width: 700px){
    .nav-list li a{
        font-size: 12px;
        width: 150px;
    }
    .nav-list{
        gap: 10px;
    }
    .action-controls-container{
        flex-direction: column;
        gap: 10px;
        margin: 15px 0;
    }
    .action-text{
        display: none;
    }
    .searchbar-residents{
        width: calc(100% - 80px);
        max-width: none;
        min-width: none;
    }
    .add-button-container{
        right: 30px;
        bottom: 30px;
    }
    .add-button-container .circle{
        width: 50px;
        height: 50px;
    }
    .circle ion-icon{
        font-size: 20px;
    }
    .scroll{
        width: 95%;
    }
    .modal-header-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .resident-info-inputs{
        width: 85%;
    }
    .modal-Image-upload-container{
        width: 90px;
    }
    .resident-image-preview{
        width: 130px;
        height: 130px;
    }
    .label{
        width: 85%;
    }
    .submit-button-container{
        width: 90%;
    }
}

