*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    outline-style: none;
}
body{
    display: flex;
    color: #2E2E2E;
    overflow-x: hidden;
    background: white;
}
.residents-section-content{
   padding: 0 50px 0 40px;
   width: 100%;
   margin-left: 300px;
}
.action-controls-container{
   display: flex;
   justify-content: space-between;
   margin: 30px 0 30px 0;
}

.search-button-container{
    display: flex;
    gap: 10px
}

/******************************** modal */
.modal-header-container{
    width: 100%;
    display: flex;
    gap: 35px
}
.modal-Image-upload-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-resident-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 10px;
    background: #195FA0;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease;
}
.add-resident-button:hover{
    background: #144d83;
}
.add-resident-button p, .add-resident-button ion-icon {
    font-weight: 700;
    font-size: 12px;
    color: white
}
.add-resident-button ion-icon{
    font-size: 24px !important;
}
.resident-image-preview{
    width: 90px;
    height: 90px;
    background: #D9D9D9;
    border-radius: 100%;
}
.resident-upload-input{
    position: absolute;
    right: -20px;
    bottom: 15px;
    opacity: 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    cursor: pointer;
}
.resident-upload-button ion-icon{
    font-size: 44px;
    color: #726868;
    position: absolute;
    right: -20px;
    bottom: 15px;
    background: white;
    border-radius: 100%;
    cursor: pointer;
}

.resident-input option:not(:checked) {
    color: #A0AAB1;
}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li a{
    display: inline-block;
    flex-shrink: 0;
    width: 180px;
    height: 37px;
    line-height: 37px;
    font-weight: 700;
    font-size: 14px;
    color: #002C4B;
    padding: 0 10px;
}
.underline{
    border-bottom: 3px solid #2098bc;
}
.add-buttons{
    display: none;
    flex-direction: column;
    position: absolute;
    top : -160px;
    right: 0px;
    gap: 10px
}
.add-buttons button{
    width: 100%;
    white-space: nowrap;
    padding: 12px 18px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    background: #195FA0 ;
    transition: .3s ease;
    cursor: pointer;
}
.multiple-choice-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.choices{
    display: flex;
    gap: 40px;
}
#labelMembers, #familyMembers{
    display: none;
}
.text-small{
    font-size: 12px;
    font-weight: 500;
    color: #595555;
}
#familyMembersContainer{
    width: 100%;
}

.filter-select-container{
    display: none;
}

@media (max-width: 1000px){
    .residents-section-content{
        margin-left: 0;
        padding: 0 20px 0 20px;
    }
}
@media (max-width: 700px){
    .nav-list li a{
        font-size: 12px;
        width: 150px;
    }
    .nav-list{
        gap: 10px;
    }
    .action-controls-container{
        flex-direction: column;
        gap: 10px;
        margin: 15px 0;
    }
    .modal-header-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .resident-info-inputs{
        width: 85%;
    }
    .modal-Image-upload-container{
        width: 90px;
    }
    .resident-image-preview{
        width: 130px;
        height: 130px;
    }
    .filter-select-container{
        display: block;
    }
    .action-controls-container{
        margin: 10px 0;
        gap: 0;
    }
    .filter-select{
        width: 100%;
        border-radius: 4px;
        height: 40px;
        padding: 0 10px;
        font-weight: 600;
        color: gray;
    }
    .nav-list{
        display: none;
    }
    .add-buttons button{
        border-radius: 4px;
    }
}

