*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    outline-style: none;
}
body{
    display: flex;
    color: #2E2E2E;
    overflow-x: hidden;
    background: white;
}
a{
    color: black
}
.main-content{
   padding: 0 50px 30px 50px;
   width: 100%;
   margin-left: 300px;
}
.transactions-container{
    display: flex;
    flex-direction: column;
}
/* *******************************************filters */
.filters-container{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 30px 0;
 }
 
 .searchbar-transactions, .searchbar{
     padding: 12px 30px;
     font-size: 14px;
     color: #002C4B;
     max-width: 380px;
     width: 100%;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
     border-radius: 10px;
     transition: .4s ease;
 }
 .searchbar-transactions:hover, .searchbar-transactions:focus{
     background: rgb(245, 245, 245)
 }
 ::placeholder{
     color: #A0AAB1;
 }
 .search-button-container{
     display: flex;
     gap: 10px
 }
 .search-button-transactions{
     width: 60px;
     background: rgb(239,239,239);
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-shrink: 0;
     border-radius: 10px;
     transition: .4s ease;
     
 }
 .search-button-transactions:hover{
     background: #c4d9ee;
     transition: .4s ease;
 }
/* *******************************************Transactions container */
.transaction-record{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75px;
    border: 1px solid #EAE9E9;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0 20px;
    align-items: center;
    transition: .3s ease;
}
.transaction-record:hover{
    background: rgb(240, 240, 240);
}
.left{
    display: flex;
    height: 100%;
    gap: 22px;
}
.certificate{
    font-weight: 700;
    font-size: 14px;
    color: #2E2E2E;
}
.issuer{
    font-weight: 400;
    font-size: 10px;
    color: #2E2E2E
}
.record-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.date-issued{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-issued p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #2E2E2E;
}

.modal-background-blur{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.52);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    animation: spawn .4s ease forwards;
    transform: scale(.98);
}
.modal-content-container{
    width: 720px;
    padding: 30px 0;
    background: white;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.edit{
    padding: 40px 0;
    gap: 30px;
}
.divider{
    height: 2px;
    background: rgb(209, 209, 209);
    width: 100%;
}
.modal-close-button{
    position: absolute;
    right: 30px;
    top: 20px;
    background: white;
}
.modal-title{
    width: 560px;
}
.modal-title p{
    font-weight: 700;
    font-size: 24px;
    color: #002C4B;
}
.record-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.record{
    display: flex;
    justify-content: space-between;
    width: 560px;
}
.record .field p{
    font-weight: 400;
    font-size: 15px;
    color: #696767;
}
.record .value input, .record .value p{
    font-weight: 700;
    font-size: 15px;
    color: #696767;
    text-align: right;
}
.purpose-container{
    width: 560px;
    height: 128px;
    background: #E9F2F9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.purpose-input{
    width: 499px;
    height: 43px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 0 20px;
}
.purpose-container p{
    width: 499px;
    font-weight: 700;
    font-size: 15px;
    color: #002C4B;
}
::placeholder{
    color: #A0AAB1;
}
.button-container{
    width: 560px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.button-container button, .gcash-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 10%);
}
.blue-button{
    background: #195FA0 !important;
}
.blue-button *, .gcash-button p{
    color: white !important;
}
.button-container button p, .button-container button ion-icon, .gcash-button p{
    font-weight: 700;
    font-size: 12px;
    color: rgb(49, 48, 48)
}
.button-container button ion-icon{
    font-size: 24px !important;
}
@keyframes spawn{
    from{opacity: 0; transform: scale(.98);}
    to{opacity: 1; transform: scale(1);}
}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li a{
    display: inline-block;
    flex-shrink: 0;
    height: 37px;
    line-height: 37px;
    font-weight: 700;
    font-size: 14px;
    color: #002C4B;
    padding: 0 15px;
}
.underline{
    border-bottom: 3px solid #195FA0;
}
.action-controls-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
 }
 .searchbar-transactions{
     padding: 12px 30px;
     font-size: 14px;
     color: #002C4B;
     max-width: 380px;
     width: calc(50vw - 300px);
     min-width: 280px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
     border-radius: 10px;
     transition: .4s ease;
 }
 .searchbar-transactions:hover, .searchbar-transactions:focus{
     background: rgb(245, 245, 245)
 }
 .search-button-container{
     display: flex;
     gap: 10px
 }
 .search-button-transactions{
     width: 60px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-shrink: 0;
     border-radius: 10px;
     transition: .4s ease;
     
 }
 .search-button-transactions:hover{
     background: #c4d9ee;
     transition: .4s ease;
 }
 .services-container{
    display: flex;
    flex-flow: row wrap;
 }
 .services-item{
    display: flex;
    width: 280px;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    gap: 40px;
    margin: 10px 15px;
    transition: .4s ease;
 }
 .services-item:hover{
    background: #f3f3f3;
 }
 .services-item img{
    width: 75px;
    height: 85px;
 }
 .services-item h3{
    font-weight: 700;
    font-size: 15px;
    width: 120px;
    line-height: 20px;
    text-align: right;
    color: #605F5F;
 }
 .services-item .right{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    bottom: 10px;
 }
 .services-item p{
    position: absolute;
    bottom: 0px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    color: #2E2E2E;
 }
 .header, .modal-header h3{
    line-height: 37px;
    font-weight: 700;
    font-size: 14px;
    color: #002C4B;
    margin: 20px 0;
 }
 .modal-header h3{
    margin: 0;
 }
 .modal-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
 }

 /* residents Item */
 .resident-item-record{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border: 1px solid #EAE9E9;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0 20px;
    align-items: center;
    transition: .3s ease;
}
.resident-item-record:hover{
    background: rgb(240, 240, 240);
}
.resident-info-container{
    display: flex;
    height: 100%;
    gap: 22px;
}
.resident-image-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resident-image{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.resident-fullname{
    font-weight: 700;
    font-size: 14px;
    color: #2E2E2E;
}
.resident-age, .resident-purok{
    font-weight: 400;
    font-size: 10px;
    color: #2E2E2E
}
.resident-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.action-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #2E2E2E;
}
.resident-items-container{
    width: 100%;
    padding: 0 40px;
    height: 350px;
    overflow-y:scroll;
}
.hide{
    display: none;
}
.gcash-button{
    background: #0071BA !important;
    cursor: pointer;
    display: none;
}
.proof-image{
    height: 80%;
}
.modal-close-button-2{
    position: absolute;
    top: 20px;
    right: 50px;
    background: none;
}
.modal-close-button-2 ion-icon{
    font-size: 40px;
    color: white;
}
.payment-image{
    display: none;
}

/* resident side services */

.gcash-section{
    width: 560px;
    height: 100px;
    background: #0071BA;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.gcash-info{
    display: flex;
    gap: 10px;
}
.gcash-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}
.gcash-instruction{
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    width: 300px;
}
.payment-proof-input{
    display: none;
}
.payment-proof-button{
    cursor: pointer;
    transition: .5s ease;
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    background: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #0071BA;
}
.checkmark{
    font-size: 25px;
    display: none;
}
