/* ************************** inputs
 
1.  input-container (simple input with label)

    ::how to use:
    <div class="input-container">
        <label for=""></label>
        <input class="input">
    </div>

- input-container-flex-2 (two inputs with each label. side by side input)

    ::how to use:
    <div class="input-container-flex-2">
        <div class="left">
            <label for=""></label>
            <input class="input">
        </div>
        <div class="right">
            <label for=""></label>
            <input class="input">
        </div>
    </div>

- input-container-with-button (single input with a button for browse or upload)

    ::how to use:
    <div class="input-container">
        <label for=""></label>
        <div class="input-with-button">
            <input class="input" readonly type="text">
            <input hidden type="file">
            <label class="input-button" for="">
                <p>Upload</p>
            </label>
        </div>
    </div>
*/
.input-container, .input-container-flex-2 div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-container-flex-2{
    display: flex;
    gap: 10px;
}
.input-container-flex-2 div{
    flex: 1;
    flex-basis: 50%;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}
label{
    font-size: 12px;
    color: var(--text-primary-light);
}
.input{
    width: 100% !important;
    padding: 15px 20px;
    background: #F4F4F4;
    color: var(--text-primary-primary)
}
.input:focus{
    background: #d5e8ed;
}
.input-with-button{
    display: flex;
    width: 100%;
}
.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 6%);
    padding: 15px 30px;
    cursor: pointer;
    transition: .2s ease;
}
.input-button:hover{
    background: #cfcfcf;
}

/* ************************** buttons

1. main-button (blue colored button, with icon)
2. opposite-button (white colored button, with icon)
3. search-button (search button only icon, no text)
4. floating-button (circle button floating. with only icon)
*/
.main-button, .opposite-button{
    padding: 0px 25px;
    height: 43px;
    display: flex ;
    flex-direction: row ;
    gap: 18px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s ease;
}
.opposite-button{
    color: var(--text-primary);
    background: white;
    border: .5px solid rgb(195, 195, 195);
}
.main-button{
    background: var(--color-primary);
    color: white;
}
.main-button:hover{
    background: var(--color-primary-darker);
}
.opposite-button:hover{
    background: rgb(228, 228, 228);
}
.search-button{
    width: 60px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: .2s ease;
    cursor: pointer;
}
.search-button:hover{
    background: #c4d9ee;
    transition: .4s ease;
}
.floating-button{
    position: fixed;
    right: 50px;
    bottom: 50px;
    animation: 3s floating infinite;
}
.floating-button .circle{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
    cursor: pointer;
}
.floating-button .circle:hover, .add-buttons button:hover{
    background: var(--color-primary-darker);
}
.circle ion-icon{
    font-size: 24px;
}
@keyframes floating {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
/* **************************** modal */
.modal-blur{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.52);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: spawn .4s ease forwards;
    transform: scale(.98);
}
.modal-scroll{
    width: 700px;
    padding: 30px 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x:  hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.modal-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.modal-content-container{
    max-width: 700px;
    width: 100%;
    padding: 20px 0 50px 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-close-button{
    position: absolute;
    right: 30px;
    top: 30px;
    background: white;
    cursor: pointer;
}
.modal-title{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.modal-title h3{
    font-weight: 700;
    font-size: 24px;
    color: #002C4B;
}
.modal-title p{
    font-weight: 700;
    font-size: 12px;
    color: #696767;
}
.modal-content{
    max-width: 550px;
    width: 90%;
    padding: 20px 0 10px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.modal-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.modal-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modal-close-button ion-icon{
    font-size: 15px;
}
@keyframes spawn{
    from{opacity: 0; transform: scale(.98);}
    to{opacity: 1; transform: scale(1);}
}

/* ******************************** error and notifications */
.error-container, .notif-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    height: 80px;
    z-index: 8;
}
.error{
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    background: rgba(62, 62, 62, 0.685);
    color: rgb(255, 255, 255);
    animation: fade forwards 3s;
    max-width: 80%;
}
.filter-select-container{
    display: none;
}
.notif{
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    background: rgba(7, 109, 212, 0.685);
    color: rgb(255, 255, 255);
    animation: fade forwards 3s;
}
@keyframes fade{
    0%{
        opacity: 1;
        display: block;
    }
    80%{
        opacity: 1;
        display: block
    }
    100%{
        opacity: 0;
        display: none;
    }
}
/******************************** list item */

.list-items-container{
    display: flex;
    flex-direction: column;
}
.list-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #EAE9E9;
    background: rgb(255, 255, 255);
    padding: 0 20px;
    align-items: center;
    transition: .3s ease;
}
.list-item:hover{
    background: rgb(240, 240, 240);
}
.list-item .left{
    display: flex;
    height: 100%;
    gap: 22px;
}
.list-item-image{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item-image img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.list-item-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.list-item-info h4{
    font-weight: 700;
    font-size: 14px;
    color: #2E2E2E;
}
.list-item-info p{
    font-weight: 400;
    font-size: 10px;
    color: #2E2E2E
}
.list-item .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item .right p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #2E2E2E;
}

/* ****************************** others */
.searchbar{
    font-size: 14px;
    max-width: 380px;
    width: calc(50vw - 300px) !important;
    min-width: 280px;
    transition: .2s ease;
}

@media (max-width: 700px){
    .list-item .right{
        display: none;
    }
    .searchbar{
        width: calc(100% - 80px);
        max-width: none;
        min-width: none;
    }
    .floating-button{
        right: 40px;
        bottom: 50px;
    }
    .floating-button .circle{
        width: 50px;
        height: 50px;
    }
    .circle ion-icon{
        font-size: 20px;
    }
    .modal-scroll{
        width: 100%;
    }
    .modal-content-container{
        margin: 20px 0 40px 0;
    }
    .searchbar{
        flex: 1;
        height: 40px;
        width: auto;
        min-width: 0;
        box-shadow: none;
        background: #ececec;
    }
    .modal-blur{
        padding: 0 10px;
    }
    .search-button{
        height: 40px;
    }
    .input-button{
        min-width: 80px;
    }
    .modal-content{
        gap: 15px;
    }
}