/* ************************** inputs
 
1.  input-container (simple input with label)

    ::how to use:
    <div class="input-container">
        <label for=""></label>
        <input class="input">
    </div>

- input-container-flex-2 (two inputs with each label. side by side input)

    ::how to use:
    <div class="input-container-flex-2">
        <div class="left">
            <label for=""></label>
            <input class="input">
        </div>
        <div class="right">
            <label for=""></label>
            <input class="input">
        </div>
    </div>

- input-container-with-button (single input with a button for browse or upload)

    ::how to use:
    <div class="input-container">
        <label for=""></label>
        <div class="input-with-button">
            <input class="input" readonly type="text">
            <input hidden type="file">
            <label class="input-button" for="">
                <p>Upload</p>
            </label>
        </div>
    </div>
*/
.input-container, .input-container-flex-2 div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-container-flex-2{
    display: flex;
    gap: 10px;
}
.input-container-flex-2 div{
    flex: 1;
    flex-basis: 50%;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}
label{
    font-size: 12px;
    color: var(--text-primary-light);
}
.input{
    width: 100% !important;
    padding: 15px 20px;
    background: #F4F4F4;
    color: var(--text-primary-primary)
}
.input:focus{
    background: #d5e8ed;
}
.input-with-button{
    display: flex;
    width: 100%;
}
.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 6%);
    padding: 15px 30px;
    cursor: pointer;
    transition: .2s ease;
}
.input-button:hover{
    background: #cfcfcf;
}

/* ************************** buttons

1. main-button (blue colored button with icon)
2. opposite-button (white colored button with icon)
3. search-button (search button only icon no text)
*/
.main-button, .opposite-button{
    padding: 0px 25px;
    height: 43px;
    display: flex ;
    flex-direction: row ;
    gap: 18px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s ease;
}
.opposite-button{
    color: var(--text-primary);
    background: white;
    border: .5px solid rgb(195, 195, 195);
}
.main-button{
    background: #195FA0;
    color: white;
}
.main-button:hover{
    background: #14497a;
}
.opposite-button:hover{
    background: rgb(228, 228, 228);
}
.search-button{
    width: 60px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: .2s ease;
    cursor: pointer;
}
.search-button:hover{
    background: #c4d9ee;
    transition: .4s ease;
}

/* **************************** modal */
.modal-blur{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.52);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: spawn .4s ease forwards;
    transform: scale(.98);
}
.modal-scroll{
    width: 700px;
    padding: 30px 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x:  hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.modal-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.modal-content-container{
    max-width: 700px;
    width: 100%;
    padding: 20px 0 50px 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-close-button{
    position: absolute;
    right: 30px;
    top: 30px;
    background: white;
    cursor: pointer;
}
.modal-title{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.modal-title h3{
    font-weight: 700;
    font-size: 24px;
    color: #002C4B;
}
.modal-title p{
    font-weight: 700;
    font-size: 12px;
    color: #696767;
}
.modal-content{
    max-width: 550px;
    width: 90%;
    padding: 20px 0 10px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.modal-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.modal-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modal-close-button ion-icon{
    font-size: 15px;
}
@keyframes spawn{
    from{opacity: 0; transform: scale(.98);}
    to{opacity: 1; transform: scale(1);}
}